{% extends 'base.html.twig' %}

{% block title %}Edit Car{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/upgrade.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Edit Car</h1>

    {# Renders the Symfony form with nice classes #}
    {{ include('car/_form.html.twig', {
        button_label: 'Update',
        button_class: 'btn-update'
    }) }}

    <div class="form-links">
        <a href="{{ path('app_car_index') }}" class="btn btn-back">Back to List</a>
        <div class="delete-form">
           {{ include('car/_delete_form.html.twig', { car: form.vars.value }) }}
        </div>
    </div>
</div>
{% endblock %}
