{% extends 'base.html.twig' %}

{% block title %}Edit Car{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}


{% block body %}
<div class="form-container">
    <h1>Edit Car</h1>

    {# Renders the Symfony form with nice classes #}
    {{ include('car/_form.html.twig', {
        button_label: 'Update',
        button_class: 'btn-update'
    }) }}

    <div class="form-links">
        {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_admin_dashboard') }}" class="btn">Back to Admin Dashboard</a>
{% elseif is_granted('ROLE_STAFF') %}
<a href="{{ path('app_staff_dashboard') }}" class="btn">Back to Staff Dashboard</a>
{% endif %}

        
    </div>
</div>

{% endblock %}
